# exports for JMDplots package
export(
  # gradox paper 20190928
  "gradox1", "gradox2", "gradoxS1", "gradoxS2", "gradox3", "gradox4", "gradox5",
  # chnszten paper 20190929
  "chnszten1", "chnszten4", "chnszten5", "chnszten6", "chnszten7",
  "chnsztenS1", "chnsztenS2", "chnsztenS3", "chnsztenS4", "chnsztenS5", "chnsztenS6A", "chnsztenS6B", "chnsztenS7", "chnsztenS8", "chnsztenS9", "chnsztenS10",
  # gradH2O paper 20190930
  "gradH2O1", "gradH2O2", "gradH2O3", "gradH2O4",
  # grad_mplot 20190930
  "mplot", "mpage", "ppage", "mcomp", "pcomp",
  # grad_util 20191005
  "ZCAA", "H2OAA"
)

# imports from CHNOSZ
importFrom("CHNOSZ",
  # first batch: gradox
  "ZC", "affinity", "aminoacids", "as.chemical.formula", 
  "basis", "diagram", "info", "label.figure", "makeup", "mod.obigt",
  "species", "swap.basis", "thermo", "thermo.axis", "today",
  # second batch: chnszten
  "DGtr", "add.obigt", "axis.label", "bgamma", "describe.basis", "describe.property",
  "describe.reaction", "equilibrate", "expr.property", "expr.species", "findit",
  "list2array", "mass", "maxdiff", "mod.buffer", "mosaic",
  "nonideal", "obigt", "ratlab", "reset", "solubility",
  "subcrt", "thermo.plot.new", "water",
  # third batch: gradH2O
  "protein.formula"
)

# imports from canprot (for gradH2O 20190930)
importFrom("canprot", "canprot")

# imports from other packages
importFrom("shiny", "fluidPage", "includeCSS", "shinyApp")
importFrom("timevis", "renderTimevis", "timevis", "timevisOutput")

# imports from standard packages
importFrom("grDevices", "dev.off", "cairo_pdf", "pdf", "blues9", "colorRampPalette")
importFrom("graphics", "abline", "arrows", "axis", "box", "layout",
           "legend", "lines", "mtext", "par", "plot", "plot.new",
           "points", "rect", "text", "title", "smoothScatter", "strheight", "polygon")
importFrom("stats", "lm", "na.omit", "predict", "sd", "predict.lm", "residuals")
importFrom("utils", "read.csv", "demo", "packageVersion", "tail")

