# Exports for JMDplots package
export(
  # gradox paper 20190928
  "gradox1", "gradox2", "gradoxS1", "gradoxS2", "gradox3", "gradox4", "gradox5",
  # chnosz10 paper 20190929
  "chnosz101", "chnosz104", "chnosz105", "chnosz106", "chnosz107",
  "chnosz10S1", "chnosz10S2", "chnosz10S3", "chnosz10S4", "chnosz10S5",
  "chnosz10S6A", "chnosz10S6B", "chnosz10S7", "chnosz10S8", "chnosz10S9", "chnosz10S10",
  # gradH2O paper 20190930-20191008, 20191104, 20191117, 20200421, 20200821, 20200826
  "gradH2O0", "gradH2O1", "gradH2O2", "gradH2O3", "gradH2O4",
  "gradH2O5", "gradH2O6", "gradH2O7",
  # grad_mplot 20190930
  "mplot", "mpage", "ppage", "mcomp", "pcomp",
  # Nif-encoding genomes 20191015
  "NifProteomes",
  # aoscp paper 20191018
  "aoscp1", "aoscp2", "aoscp3", "aoscp4", "aoscp5", "aoscp6", "aoscp99",
  "yeast.aa", "yeastgfp", "yeast.ZC",
  # scsc paper 20191019
  "scsc2", "scsc3",
  # aaaq paper 20191020
  "aaaq4", "aaaq10", "aaaq13",
  # utilities 20191027
  "addexif",
  # 20191127 (added to canprot), 20220113 (moved to JMDplots)
  "PS",
  # canH2O paper 20200203-20200204
  "canH2O1", "pdat_HPA", "pdat_TCGA", "canH2O2", "canH2O3", "canH2O4",
  # canH2O supplementary tables and figures 20200205
  "canH2OT1", "canH2OT2", "canH2OS1", "canH2OS2",
  # canH2O paper 20200420
  "pdat_osmotic_gene", "makevig", "pdat_aneuploidy",
  # 20200508
  "pdat_yeast_stress",
  # Bison Pool papers 20200712
  "bison1", "bison2", "bison3", "bison4",
  "bison5", "bison6", "bison7", "bison8",
  # JMDplots package data 20200828
  "JMDplots",
  # cpcp plots 20201015
  "Ehplot", "rankdiff", "rankplot", "groupplots", "mergedplot", "get_colors",
  # evdevH2O paper 20210127
  "evdevH2O2", "evdevH2O4", "evdevH2O5", "evdevH2O6", "evdevH2O7", "evdevH2O8",
  "MaximAct", "runMaximAct", "LYSC_example",
  "getphyloaa", "getCBS17", "getFOK21", # 20210706-20210708
  "evdevH2O3", # 20211222
  "evdevH2O1", # 20220216
  # mjenergy paper 20210205
  "mjenergy1", "mjenergy2", "mjenergy3", "calc_affinity",
  "mjenergy_Table_S3", "mjenergy_Dataset_S1", # 20210816
  # evdevH2O paper 20210402
  "pdat_fly",
  # geo16S paper 20210416-20210610
  "geo16S1", "geo16S2", "geo16S3", "geo16S4",
  "taxacomp", 
  "geo16S5", # 20211018
  "geo16S_S1", "geo16S_S2", # 20220105
  "geo16S_S3", # 20220112
  "geo16S_S4", # 20220117
  "geo16S_S5", # 20220114
  "geo16S_S6", # 20220126
  # can16S paper 20210604
  "getrefseq",
  # orp16S paper 20211003-20211008
  "orp16S1", "orp16S2", "orp16S3", "orp16S5", "orp16S6", "orp16S_S1",
  "plotEZ", "plotMA",
  # utilities 20220223
  "addalpha",
  # utogig paper 20220420
  "utogig1", "utogig2", "utogig3", "utogigS2", "utogigS4", "calc_logaH2_intermediate",
  # Moving functions to chem16S package 20220506-20220513
  "getmdat_geo16S", "getmetrics_geo16S", "plotmet_geo16S", "getmdat_orp16S", "getmetrics_orp16S", "orp16S_info",
  # orp16S paper 20220516-20220517
  "orp16S_T2", "orp16S4", "orp16S_S3",
  # utogig paper 20220602, 20220605
  "utogig4", "utogigS1",
  # utilities 20220609
  "cldfun",
  # orp16S paper 20220611
  "orp16S_S2",
  # utilities 20220930
  "hyphen.in.pdf",
  # orp16S paper 20221001-20221006
  "orp16S7", "orp16S_D3", "orp16S8"
)

# Imports from CHNOSZ
importFrom("CHNOSZ",
  # first batch: gradox
  "ZC", "affinity", "aminoacids", "as.chemical.formula", 
  "basis", "diagram", "info", "label.figure", "makeup",
  "species", "swap.basis", "thermo", "thermo.axis", "mod.OBIGT",
  # second batch: chnosz10
  "DGtr", "axis.label", "bgamma", "describe.basis", "describe.property",
  "describe.reaction", "equilibrate", "expr.property", "expr.species", "findit",
  "list2array", "mass", "mod.buffer", "mosaic",
  "nonideal", "ratlab", "reset", "solubility",
  "subcrt", "thermo.plot.new", "water", "OBIGT", "add.OBIGT",
  # third batch: gradH2O
  "protein.formula", "protein.basis",
  # fourth batch: aoscp
  "nucleic.formula", "convert", "protein.length", "read.fasta",
  # fifth batch: scsc
  "aasum", "add.protein", "label.plot",
  # sixth batch: aaaq
  "water.lines", "pinfo", "ionize.aa",
  # bison
  "revisit",
  # cpcp
  "palply",
  # evdevH2O
  "protein.OBIGT", "syslab",
  # mjenergy
  "E.units"
)

# Imports from canprot
importFrom("canprot",
  # first batch: gradH2O1 20190930
  "human",
  # second batch: gradH2O6 20191008
  "diffplot", "get_comptab", "pdat_osmotic_bact",
  # moved to canprot 20191027
  "ZCAA", "H2OAA", "GRAVY", "pI",
  # new protein expression data 20191104
  "pdat_osmotic_halo",
  # for pdat_HPA() and pdat_TCGA() 20200204
  "cleanup", "protcomp",
  # for plotphylo() 20200204
  "check_IDs",
  # for pdat_osmotic_gene() 20200421
  "pdat_osmotic_euk",
  # for canH2O5() 20200505, 20200508
  "qdist", "cplab",
  # for canH2OS1() 20201016
  "O2AA"
)

# Imports from chem16S
importFrom("chem16S",
  # 20220506
  "readRDP", "mapRDP", "getmetrics", "plotmet", "addhull"
)

# Imports from other packages
importFrom("shiny", "fluidPage", "includeCSS", "shinyApp")
importFrom("timevis", "renderTimevis", "timevis", "timevisOutput")
importFrom("png", "readPNG")
importFrom("MASS", "kde2d")
importFrom("diagram", "openplotmat", "coordinates", "straightarrow", "curvedarrow",
           "textrect", "textplain", "textempty")
importFrom("ggplot2", "theme_bw", "xlab", "ylab", "geom_hline", "geom_vline", "theme",
           "element_text", "ggplot", "aes", "geom_point", "ggtitle", "labs", "xlim", "ylim",
           "theme_void", "geom_text", "annotate", "unit",
           "ggplot_gtable", "ggplot_build", "theme_classic", "element_rect", "ggsave",
           "geom_smooth", "geom_contour")
importFrom("grid", "grid.roundrect", "gpar", "grid.draw")
importFrom("oce", "mapPlot", "mapPoints", "mapPolygon")
importFrom("sf", "st_coordinates", "st_read", "st_transform")
importFrom("eulerr", "euler")
importFrom("ape", "read.tree", "plot.phylo", "rotateConstr")
importFrom("multcompView", "multcompLetters4")

# Imports from standard packages
importFrom("grDevices", "dev.off", "cairo_pdf", "pdf", "blues9", "colorRampPalette",
           "chull", "col2rgb", "rgb", "colorRamp", "heat.colors", "topo.colors",
           "extendrange", "contourLines", "hcl.colors", "savePlot", "png", "dev.list",
           "palette", "palette.colors", "dev.cur")
importFrom("graphics", "abline", "arrows", "axis", "box", "layout",
           "legend", "lines", "mtext", "par", "plot", "plot.new",
           "points", "rect", "text", "title", "smoothScatter", "strheight",
           "polygon", "hist", "plot.window", "rasterImage",
           "contour", "grconvertX", "grconvertY", "image",
           ".filled.contour", "Axis", "close.screen", "lcm", "screen",
           "split.screen", "boxplot", "matlines", "matplot")
importFrom("stats", "lm", "na.omit", "predict", "sd", "predict.lm", "residuals",
           "qqline", "qqnorm", "quantile", "median", "fivenum",
           "density", "formula", "t.test", "approx", "splinefun", "xtabs",
           "coefficients", "loess", "wilcox.test", "weighted.mean",
           "kmeans", "qt", "cor.test", "coef", "aggregate", "cor", "uniroot",
           "TukeyHSD", "aov", "binom.test", "confint")
importFrom("utils", "read.csv", "demo", "tail", "write.csv",
           "capture.output", "browseURL", "head", "combn", "read.table", "packageVersion",
           "assignInNamespace")

S3method(dunnTest,default)
S3method(dunnTest,formula)
S3method(print,dunnTest)
export(dunnTest)
